<div class="footer container justify-content-between d-flex">
    <div class="footer-content copyright">
        © 2024 Scalzo-Store. Todos los derechos reservados
    </div>
    <div><a [routerLink]="['/']"><img class="logo" [src]="logo"  alt=""/></a></div>
    <div class="footer-content">
        <div>
            <a [routerLink]="['/cms/info']" class="info">¿Quienes somos?</a>
            <a [routerLink]="['/cms/webs']" class="clase">Nuestros colaboradores</a>
        </div>
    </div>
</div>