.title {
    margin: 20px 10px;

    h1 {
        font-size: 2em;
        ;
    }
}

.filters {
    margin-top: 25px;
}

product-card {
    margin: 0 10px;
}

mat-spinner {
    margin-top: 200px;
}

.no-data {
    text-align: center;
    margin: 70px;
}