@import "./../../../shared/mixins.scss";

form {
    padding: 30px;

    .primary-btn {
        @include primary-btn;
    }

    .secondary-btn {
        @include secondary-btn;
    }
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: rgb(2, 92, 2);
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
    --mat-tab-header-pagination-icon-color: black;
    --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-label-text-color: rgb(2, 92, 2);
    --mat-tab-header-active-ripple-color: rgb(2, 92, 2);
    --mat-tab-header-inactive-ripple-color: rgb(2, 92, 2);
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
    --mat-tab-header-active-focus-label-text-color: rgb(2, 92, 2);
    --mat-tab-header-active-hover-label-text-color: rgb(2, 92, 2);
    --mat-tab-header-active-focus-indicator-color: rgb(2, 92, 2);
    --mat-tab-header-active-hover-indicator-color: rgb(2, 92, 2);
}