<div class="container my-5">
    <div class="info">
        <h1 class="mb-4">¿Quiénes somos?</h1>
        <p>
            En la actualidad, al momento de querer realizar compras por internet, contamos con una gran variedad de tiendas y opciones. Muchas pueden llegar a ofrecer un mismo producto o uno muy similar por un precio muy distinto, por lo que se hace complicado poder comparar los productos de distintas webs. Es por ello por lo que esta web ofrece al cliente la oportunidad de ver los productos de distintas tiendas online en una sola web, pudiendo realizar la comparación y elección de forma sencilla.
        </p>
        <p>
            Este proyecto tiene como objetivo general crear una e-commerce donde el producto ofrecido será ropa deportiva proveniente de e-commerces reales. Permitirá realizar la búsqueda por categorías, nombre de producto, filtrado por precios y por web que ofrece el producto. Se permitirá al usuario realizar la compra en esta web o poder acceder al producto original en la tienda de origen. Contará con registro de usuarios, acceso (login), carrito de la compra, perfil de usuario con el historial de compra. Para ello, nos trazamos los siguientes puntos como objetivos:
        </p>
        <h2 class="mt-4">Objetivos principales:</h2>
        <ul>
            <li>Distribución de productos por categorías.</li>
            <li>Registro de nuevos usuarios, acceso (login) mediante correo y contraseña.</li>
            <li>Filtrado de productos por palabras en nombre o descripción, por precios y/o por web que ofrece el producto.</li>
            <li>Permitir añadir productos al carrito y realizar la compra.</li>
            <li>Desarrollar un servidor que ofrezca mediante API la información de productos y usuarios.</li>
        </ul>
        <h2 class="mt-4">Objetivos secundarios:</h2>
        <ul>
            <li>Permitir editar datos de usuarios.</li>
            <li>Permitir eliminar/editar contenido en el carrito de compras.</li>
            <li>Validaciones de formularios.</li>
            <li>Diseño y experiencia de usuario adecuada.</li>
        </ul>
        <p>
            El trabajo realizado es el Proyecto de Fin de Ciclo del módulo de Desarrollo de Aplicaciones Web.
        </p>
        <p>
            La finalidad del proyecto es profundizar y emplear el conocimiento sobre el framework Angular y sobre el desarrollo de servicios Node y Express. Se intentará realizar un proyecto que pueda ser empleado para una empresa en la vida real.
        </p>
        <p>
            La herramienta para el desarrollo del proyecto será Visual Studio Code donde se utilizarán los lenguajes Typescript, HTML y SCSS para Angular y el lenguaje Javascript para el desarrollo en Node. El desarrollo se realizará con los conocimientos adquiridos en el módulo DAW utilizando las clases vistas como principal material de apoyo.
        </p>
    </div>
</div>